// ::ng-deep .mat-dialog-container {
//   width: 100vw;
// }
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}


.radio-button {
  margin: 5px;
}

.custom-dialog{
  max-width: none;
}