<div class="maintainer">
  <mat-card class="no-pad">
    <form novalidate name="form" enctype="multipart/form-data">
      <mat-card-content>
        <mat-tab-group [selectedIndex]="index.value" (selectedIndexChange)="index.setValue($event)">
          <ng-container *ngFor="let tab of tabs;let index = index">
            <mat-tab [label]="tab.title">
              <div>
                <app-form-triage [note]="note" *ngIf="tab.title==='Triaje'"></app-form-triage>
                <app-form-symptoms [note]="note" *ngIf="tab.title==='Atención' && !tab.isCardiology"></app-form-symptoms>
                <app-cardio-form-symptoms [note]="note" *ngIf="tab.title==='Atención' && tab.isCardiology"></app-cardio-form-symptoms>
                <app-form-conclusion *ngIf="tab.title==='Conclusión'"></app-form-conclusion>
                <app-form-summary [note]="note" [submit]="submit" *ngIf="tab.title==='Resumen'"></app-form-summary>
              </div>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button type="button" [disabled]="index.value==0" (click)="index.setValue(index.value-1)">Anterior</button>

        <button mat-button color="primary" type="button"
                *ngIf="index.value<tabs.length-1" (click)="index.setValue(index.value+1)">
          Siguiente
        </button>
        <button mat-button color="primary" type="submit" *ngIf="index.value===tabs.length-1">
          Enviar
        </button>

        <!-- TODO Continuar button -->
        <button mat-button color="primary" type="submit" *ngIf="false">
          Continuar hacia el triaje
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
