<div class="maintainer">
  <mat-card class="no-pad">
    <form  name="form" #f="ngForm" (ngSubmit)="submitRequest()" enctype="multipart/form-data">
      <mat-card-content>
        <mat-tab-group [selectedIndex]="index.value" (selectedIndexChange)="index.setValue($event)">
          <ng-container *ngFor="let tab of tabs;let index = index">
            <mat-tab [label]="tab.title">
              <div>
                <app-form-triage [note]="note"
                                 [patient]="patient"
                                 [isEditable]="isEditable"
                                 *ngIf="tab.title==='Triaje'"
                                 (computedFieldsChange)="handleComputedFieldsChange($event)">
                </app-form-triage>
                <!--(diagnosisModalChange)="addDiagnosis($event)"
                (diagnosisChange)="handleDiagnosisChange($event)"-->
                <app-form-symptoms [isEditable]="isEditable" [note]="note" [patient]="patient" *ngIf="tab.title==='Atención' && !tab.isCardiology">
                </app-form-symptoms>
                <app-cardio-form-symptoms [isEditable]="isEditable" [note]="note" [patient]="patient" *ngIf="tab.title==='Atención' && tab.isCardiology"></app-cardio-form-symptoms>
                <app-form-conclusion [isEditable]="isEditable" [note]="note" [patient]="patient" *ngIf="tab.title==='Conclusión'"></app-form-conclusion>
                <app-form-summary [isEditable]="isEditable" [note]="note" [patient]="patient" [submit]="submit" *ngIf="tab.title==='Resumen'"></app-form-summary>
              </div>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <div style="margin-left: 15px; display: flex;">
          <button fxLayoutAlign="start center" mat-button color="text-muted" [routerLink]="docNumber ? ['/records/', docNumber] : ['/records']">
            Cancelar 
          </button>
          <button  mat-button color="text-muted"  (click)="closeAttention(note.id)" *ngIf="note.category==='attention'">
            Cerrar atención
          </button>
        </div>
        
        <div>
          <button mat-button type="button" [disabled]="index.value==0" (click)="index.setValue(index.value-1)">Anterior</button>

          <button mat-button color="primary" type="button"
                  *ngIf="index.value<tabs.length-1" (click)="index.setValue(index.value+1)">
            Siguiente
          </button>
          <button mat-button color="primary" type="submit" *ngIf="index.value===tabs.length-1 && isEditable" [disabled]="!f.valid">
            Enviar
          </button>
          <!-- <button mat-button color="primary" [routerLink]="docNumber ? ['/records/', docNumber] : ['/records']" *ngIf="index.value===tabs.length-1 && !isEditable">
            Inicio 
          </button> -->
        </div>



        <!-- TODO Continuar button -->
        <button mat-button color="primary" type="submit" *ngIf="false">
          Continuar hacia el triaje
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
