<div fxLayout="row" fxLayoutAlign="center center">
  <form
    autocomplete="off"
    name="resetPasswordForm"
    [formGroup]="resetPasswordForm"
    fxFlex="100"
    fxFlex.gt-sm="50"
    fxLayout="column"
    (ngSubmit)="resetPassword()"
    [mustMatch]="['password', 'confirmPassword']"
  >
    <mat-form-field fxFlex fxFlexFill>
      <mat-label style="font-size: 16px; font-weight: 400">
        Contraseña actual</mat-label
      >
      <input
        matInput
        type="password"
        name="currentPassword"
        required
        [class.is-invalid]="
          (resetPasswordForm.controls['currentPassword'].touched ||
            resetPasswordForm.controls['currentPassword'].dirty) &&
          resetPasswordForm.controls['currentPassword'].invalid
        "
        [class.has-error]="
          (resetPasswordForm.controls['currentPassword'].touched ||
            resetPasswordForm.controls['currentPassword'].dirty) &&
          resetPasswordForm.controls['currentPassword'].invalid
        "
        formControlName="currentPassword"
      />
    </mat-form-field>
    <mat-form-field fxFlex="30" fxFlex.md="30" fxFlex.xs="100">
      <mat-label style="font-size: 16px; font-weight: 400"
        >Contraseña</mat-label
      >
      <input
        type="password"
        name="password"
        matInput
        maxlength="16"
        matInput
        autocomplete="on"
        formControlName="password"
        appPasswordPattern
        required
        [class.is-invalid]="
          (resetPasswordForm.controls['password'].touched ||
            resetPasswordForm.controls['password'].dirty) &&
          resetPasswordForm.controls['password'].invalid
        "
        [class.has-error]="
          (resetPasswordForm.controls['password'].touched ||
            resetPasswordForm.controls['password'].dirty) &&
          resetPasswordForm.controls['password'].invalid
        "
      />
    </mat-form-field>

    <mat-form-field fxFlex="30" fxFlex.md="30" fxFlex.xs="100">
      <mat-label style="font-size: 16px; font-weight: 400"
        >Confirmar Contraseña</mat-label
      >
      <input
        type="password"
        name="confirmPassword"
        matInput
        maxlength="16"
        matInput
        formControlName="confirmPassword"
        appPasswordPattern
        autocomplete="on"
        required
        [class.is-invalid]="
          (resetPasswordForm.controls['confirmPassword'].touched ||
            resetPasswordForm.controls['confirmPassword'].dirty) &&
          resetPasswordForm.controls['confirmPassword'].invalid
        "
        [class.has-error]="
          (resetPasswordForm.controls['confirmPassword'].touched ||
            resetPasswordForm.controls['confirmPassword'].dirty) &&
          resetPasswordForm.controls['confirmPassword'].invalid
        "
      />

      <mat-error
        *ngIf="
          resetPasswordForm.controls['confirmPassword'].invalid &&
          resetPasswordForm.controls['confirmPassword'].errors.mustMatch &&
          (resetPasswordForm.controls['confirmPassword'].touched ||
            resetPasswordForm.controls['confirmPassword'].dirty)
        "
      >
        Las contraseñas y la confirmación de contraseña deben coincidir
      </mat-error>
      <!-- Este campo es requerido -->
    </mat-form-field>
    <br />
    <button
      [disabled]="!resetPasswordForm.valid || passwordResetSuccess"
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-16"
      style="
        font-size: large;
        font-weight: 400;
        padding-top: 2px;
        padding-bottom: 2px;
      "
    >
      Enviar
    </button>
  </form>
</div>
