<div class="maintainer">
    <form novalidate name="form" #f="ngForm" (ngSubmit)="submitRequest()" [mustMatch]="['password', 'confirmPassword']">
      <mat-card class="no-pad">
  
        <mat-card-content>
          <div class="layout-padding" fxLayout="column">
  
  
            <div style="margin-top: 15px;">
  
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
                <mat-form-field fxFlex="30" fxFlex.md="100" fxFlex.sm="100">
                    <mat-label>Compañía matriz</mat-label>
                    <input type="text" name="parentCompany" matInput matInput #parentCompany="ngModel"
                      [(ngModel)]="labUser.parentCompany" required>
      
                    <mat-error *ngIf="parentCompany.errors && (parentCompany.touched || parentCompany.dirty)">
                      Este campo es requerido
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="30" fxFlex.md="100" fxFlex.sm="100">
                    <mat-label>Nombre del laboratorio</mat-label>
                    <input type="text" name="labName" matInput matInput #labName="ngModel"
                      [(ngModel)]="labUser.labName" required>
      
                    <mat-error *ngIf="labName.errors && (labName.touched || labName.dirty)">
                      Este campo es requerido
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="30" fxFlex.md="100" fxFlex.sm="100">
                    <mat-label>RUC</mat-label>
                    <input type="text" name="ruc" matInput matInput #ruc="ngModel"
                      [(ngModel)]="labUser.RUC" required>
      
                    <mat-error *ngIf="ruc.errors && (ruc.touched || ruc.dirty)">
                      Este campo es requerido
                    </mat-error>
                  </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="no-pad">
        <div style="margin-top: 15px;">
  
        </div>
        <mat-card-content>
          <div class="layout-padding" fxLayout="column">
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
              <mat-form-field fxFlex="30" fxFlex.md="100" fxFlex.sm="100">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" name="email" matInput matInput #email="ngModel" [(ngModel)]="labUser.user.email" email
                  required>
                <mat-error *ngIf="email.invalid && email.errors.required && (email.touched || email.dirty)">
                  Este campo es requerido
                </mat-error>
  
  
                <mat-error *ngIf="email.invalid && email.errors.email && (email.touched || email.dirty)">
                  Ingrese el correo electrónico correcto
                </mat-error>
  
  
              </mat-form-field>
  
              <mat-form-field fxFlex="30" fxFlex.md="100" fxFlex.sm="100">
                <mat-label>Contraseña</mat-label>
                <input type="password" name="password" matInput maxlength="16" matInput #password="ngModel"
                  [(ngModel)]="labUser.user.passwordHash" required>
                <mat-hint align="end">{{password.value?.length || 0}}/16</mat-hint>
                <mat-error *ngIf="password.errors && (password.touched || password.dirty)">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
  
              <mat-form-field fxFlex="30" fxFlex.md="100" fxFlex.sm="100">
                <mat-label>Confirmar Contraseña</mat-label>
                <input type="password" name="confirmPassword" matInput maxlength="16" matInput #confirmPassword="ngModel"
                  [(ngModel)]="labUser.user.confirmPasswordHash" required>
                <mat-hint align="end">{{confirmPassword.value?.length || 0}}/16</mat-hint>
                <!-- *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty) -->
                <mat-error
                  *ngIf="confirmPassword.invalid && confirmPassword.errors.required && (confirmPassword.touched || confirmPassword.dirty)">
                  Este campo es requerido
                </mat-error>
  
                <mat-error
                  *ngIf="confirmPassword.invalid && confirmPassword.errors.mustMatch && (confirmPassword.touched || confirmPassword.dirty)">
                  Las contraseñas y la confirmación de contraseña deben coincidir
                </mat-error>
  
  
                <!-- Este campo es requerido -->
  
  
              </mat-form-field>
  
            </div>
          </div>
  
  
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
          <button mat-button color="primary" type="submit" [disabled]="!f.valid">Registrarse</button>
          <a mat-button color="default" href="javascript:void(0)" [routerLink]='["/login"]'>Cancelar</a>
        </mat-card-actions>
      </mat-card>
    </form>
</div>
