<div class="summary print layout-padding" fxLayout="column">
  <!-- <div layout="row" layout-wrap *ngIf="form.$error!=={}">
      <h2>Complete todos los campos obligatorios para continuar.</h2>
  </div> -->

  <div fxLayout="row" *ngIf="!submit.waiting && !submit.success">
    <h2 *ngIf="this.isEditable && !submit.success" fxFlex="100">
      Ahora puede guardar la atención
    </h2>

    <!-- <div fxFlex="100" *ngIf="!note.id"> -->
  </div>

  <div>
    <mat-radio-group
      aria-label="Select an option"
      (change)="radioChange($event)"
    >
      <b style="margin-right: 25px">Select a Signature Option</b>
      <mat-radio-button value="false">Text</mat-radio-button>
      <mat-radio-button value="true">Draw</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" />

      <button mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <div class="signature-pad">
      <div class="signature-pad--body">
        <canvas
          #sPad
          width="900"
          height="100"
          style="
            touch-action: none;
            box-shadow: 0 0 5px rgb(218, 218, 218) inset;
            border-radius: 10px;
          "
        ></canvas>
      </div>
    </div>
    <section class="container-fluid">
      <div class="row">
        <div class="col-6">
          <a mat-button (click)="clear()">Clear</a>
        </div>
      </div>
    </section>
  </div>

  <div fxLayout="row" *ngIf="submit.waiting">
    <h2>Guardando la atención...</h2>
  </div>

  <div fxLayout="row" *ngIf="!submit.waiting && submit.success">
    <h2 fxFlex="100">La atención se ha registrado correctamente</h2>

    <div fxFlex="100">
      <a href="javascript: void(0);" mat-button (click)="downloadAttention()">
        Descargar Atención
      </a>

      <a
        href="javascript: void(0);"
        mat-button
        (click)="downloadPrescription()"
      >
        Descargar Receta médica
      </a>

      <a href="javascript: void(0);" mat-button (click)="downloadInter()">
        Descargar Interconsulta
      </a>
    </div>
  </div>
  <div fxLayout="row" *ngIf="!submit.waiting && !submit.success && !isEditable">
    <div fxFlex="100">
      <a href="javascript: void(0);" mat-button (click)="downloadAttention()">
        Descargar Atención
      </a>

      <a
        href="javascript: void(0);"
        mat-button
        (click)="downloadPrescription()"
      >
        Descargar Receta médica
      </a>

      <a href="javascript: void(0);" mat-button (click)="downloadInter()">
        Descargar Interconsulta
      </a>
    </div>
  </div>
</div>
