<div class="alert alert-danger" role="alert" *ngIf="this.reason == 'not-approved'">
    Gracias por registrarse con nosotros! Estamos verificando su información. Denos hasta 24 horas para aprobar su aplicación como médico.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="this.reason == 'freezed'">
    Su cuenta ha sido congelada por nuestros administradores. Por favor contáctenos para re-activar su cuenta. 
   </div>
   <div>
   <button mat-raised-button color="primary" type="button" class="mt-16" [routerLink]='["/login"]'>
   Regresar
  </button>
</div>
