// .mat-column-action {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     flex: 0 0 28% !important;
//     width: 28% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     word-break: break-word;
//     -ms-hyphens: auto;
//     -moz-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//   }
  
  .mat-card{
    box-shadow: none !important;
  }
  .mat-card-content{
    box-shadow: none !important;
  }
  .mat-cell{
    box-shadow: none !important;
  }
  .table{
    box-shadow: none !important;
  }
  
  table{
    width: 100%;
   }
  
   .mat-table {
    overflow: auto;
  }
   
   .mat-column-user.firstName {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-apellidoPaterno {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-apellidoMaterno {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-RNE {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 6% !important;
     width: 6% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-CMP {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 6% !important;
     width: 6% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 11% !important;
    width: 11% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-action2 {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 11% !important;
    width: 11% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-button:hover :enabled{
    // color: rgb(70,150,236);
    color: rgb(244,174,61);
    // font-weight: 500;
  
   }

   @media only screen and (max-width: 736px) and (orientation:portrait) {
    mat-header-row, mat-row {
      width: 250%;
    }
  }