<div class="maintainer">
    <mat-card class="no-pad">
        <mat-card-content>
          <div fxLayout="row"  class="mt-24">
            <h2 fxFlex="50" style="margin-left: 10px;">
              Resultado de carga de prueba:</h2>
          </div>
          <table mat-table [dataSource]="this.nonApprovedMedics" class="mat-elevation-z8">
            
             <!-- Position Column -->
    <ng-container matColumnDef="user.firstName">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.user.firstName}} </td>
    </ng-container>
  

    <ng-container matColumnDef="user.lastNameMother">
      <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
      <td mat-cell *matCellDef="let element"> {{element.user.lastNameMother}} </td>
    </ng-container>


    <ng-container matColumnDef="user.lastNameFather">
      <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
      <td mat-cell *matCellDef="let element"> {{element.user.lastNameFather}} </td>
    </ng-container>

    <ng-container matColumnDef="rne">
      <th mat-header-cell *matHeaderCellDef> RNE </th>
      <td mat-cell *matCellDef="let element"> {{element.rne}} </td>
    </ng-container>

    <ng-container matColumnDef="cmp">
      <th mat-header-cell *matHeaderCellDef> CMP </th>
      <td mat-cell *matCellDef="let element"> {{element.cmp}} </td>
    </ng-container>
   
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button type="button" color="primary" [disabled]="element.IsApproved" (click)="approveeMedic(element.user.id)">
          Aprobar
        </button>
          </td>
    </ng-container>

    <ng-container matColumnDef="action2">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button type="button" color="primary" (click)="freezeMedic(element.user.id)"  [disabled]="!element.IsApproved">
          {{ element.IsFreezed? 'Descongelar' : 'Congelar' }} 
        </button>
          </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumnsUpload"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsUpload;"></tr>
  
  
          </table>
        </mat-card-content>
      </mat-card>
</div>