<br />
<div fxLayout="row" fxLayoutAlign="center center">
  <form
    autocomplete="off"
    name="forgotPasswordForm"
    [formGroup]="forgotPasswordForm"
    fxFlex="100"
    fxFlex.gt-sm="50"
    fxLayout="column"
    (ngSubmit)="forgotPassword()"
  >
    <mat-form-field fxFlex fxFlexFill>
      <mat-label style="font-size: 16px; font-weight: 400">Email</mat-label>
      <input
        matInput
        type="email"
        name="username"
        required
        [class.is-invalid]="
          (forgotPasswordForm.controls['username'].touched ||
            forgotPasswordForm.controls['username'].dirty) &&
          forgotPasswordForm.controls['username'].invalid
        "
        [class.has-error]="
          (forgotPasswordForm.controls['username'].touched ||
            forgotPasswordForm.controls['username'].dirty) &&
          forgotPasswordForm.controls['username'].invalid
        "
        formControlName="username"
      />
    </mat-form-field>

    <button
      [disabled]="!forgotPasswordForm.valid || sentForgotPasswordEmail"
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-16"
      style="
        font-size: large;
        font-weight: 400;
        padding-top: 2px;
        padding-bottom: 2px;
      "
    >
      Enviar
    </button>
    <div
      *ngIf="sentForgotPasswordEmail"
      fxLayout="row"
      fxLayoutAlign="center center"
      style="margin-top: 20px"
    >
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayout="column">
        Hemos mandado un correo electrónico al email otorgado. Siga las
        instrucciones en el correo para restablecer su contraseña. Si no
        encuentra el correo en su inbox, por favor revise su carpeta de "spam" o
        "correo no deseado".
      </div>
    </div>
  </form>
</div>
