<br />
<div fxLayout="row" fxLayoutAlign="center center">
  <form
    autocomplete="off"
    name="resetPasswordForm"
    [formGroup]="resetPasswordForm"
    fxFlex="100"
    fxFlex.gt-sm="50"
    fxLayout="column"
    (ngSubmit)="resetPassword()"
  >
    <mat-form-field fxFlex fxFlexFill>
      <mat-label style="font-size: 16px; font-weight: 400">Contraseña</mat-label>
      <input
        matInput
        type="password"
        class="form-control"
        formControlName="password"
        appPasswordPattern
        title="Please enter your password"
      />

      <mat-error
        class="help-block"
        *ngIf="
          resetPasswordForm.controls['password'].hasError('required') &&
          resetPasswordForm.controls['password'].touched
        "
      >
        Este campo es requerido
      </mat-error>
      <mat-error
      *ngIf="
      resetPasswordForm.controls['password'].errors?.invalidPassword &&
        (resetPasswordForm.controls['password'].touched || resetPasswordForm.controls['password'].dirty)
      "
    >
      La contraseña debe tener un mínimo de 8 caracteres, al menos 1
      letra mayúscula, 1 letra minúscula y 1 número
    </mat-error>
    </mat-form-field>

    <!-- <mat-form-field
              fxFlex="30"
              fxFlex.md="30"
              fxFlex.sm="100"
              fxFlex.xs="100"
            >
              <mat-label>Contraseña</mat-label>
              <input
                type="password"
                name="password"
                matInput
                maxlength="16"
                matInput
                #password="ngModel"
                [(ngModel)]="password"
                appPasswordPattern
                required
              />
              <mat-hint align="end"
                >{{ password.value?.length || 0 }}/16</mat-hint
              >
              <mat-error
                *ngIf="
                  password.errors?.required &&
                  (password.touched || password.dirty)
                "
              >
                Este campo es requerido
              </mat-error>
              <mat-error
                *ngIf="
                  password.errors?.invalidPassword &&
                  (password.touched || password.dirty)
                "
              >
                La contraseña debe tener un mínimo de 8 caracteres, al menos 1
                letra mayúscula, 1 letra minúscula y 1 número
              </mat-error>
            </mat-form-field> -->

    <mat-form-field fxFlex fxFlexFill>
      <mat-label style="font-size: 16px; font-weight: 400"
        >Confirmar Contraseña</mat-label
      >
      <input
        matInput
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        title="Please re-enter your password"
      />

      <mat-error
        class="help-block"
        *ngIf="
          resetPasswordForm.controls['confirmPassword'].hasError('required') &&
          resetPasswordForm.controls['confirmPassword'].touched
        "
      >
        Este campo es requerido
      </mat-error>
      <mat-error
        class="help-block"
        *ngIf="
          resetPasswordForm.controls['confirmPassword'].touched &&
          resetPasswordForm.controls['confirmPassword'].hasError('mustMatch')
        "
      >
        El campo no coincide con la contraseña elegida.
      </mat-error>
    </mat-form-field>

    <button
      [disabled]="!resetPasswordForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-16"
      style="
        font-size: large;
        font-weight: 400;
        padding-top: 2px;
        padding-bottom: 2px;
      "
    >
      Iniciar sesión
    </button>
  </form>
</div>
