<br />
<div fxLayout="row" fxLayoutAlign="center center">
  <form
    autocomplete="off"
    name="resetPasswordForm"
    [formGroup]="resetPasswordForm"
    fxFlex="100"
    fxFlex.gt-sm="50"
    fxLayout="column"
    (ngSubmit)="resetPassword()"
  >
    <mat-form-field fxFlex fxFlexFill>
      <mat-label style="font-size: 16px; font-weight: 400">Password</mat-label>
      <input
        matInput
        type="password"
        class="form-control"
        formControlName="password"
        title="Please enter your password"
      />

      <mat-error
        class="help-block"
        *ngIf="
          resetPasswordForm.controls['password'].hasError('required') &&
          resetPasswordForm.controls['password'].touched
        "
      >
        Password must be required
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex fxFlexFill>
      <mat-label style="font-size: 16px; font-weight: 400"
        >Confrim Password</mat-label
      >
      <input
        matInput
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        title="Please re-enter your password"
      />

      <mat-error
        class="help-block"
        *ngIf="
          resetPasswordForm.controls['confirmPassword'].hasError('required') &&
          resetPasswordForm.controls['confirmPassword'].touched
        "
      >
        Password must be required
      </mat-error>
      <mat-error
        class="help-block"
        *ngIf="
          resetPasswordForm.controls['confirmPassword'].hasError(
            'passwordMismatch'
          ) && resetPasswordForm.controls['confirmPassword'].touched
        "
      >
        password does not match
      </mat-error>
    </mat-form-field>

    <button
      [disabled]="!resetPasswordForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-16"
      style="
        font-size: large;
        font-weight: 400;
        padding-top: 2px;
        padding-bottom: 2px;
      "
    >
      Iniciar sesión
    </button>
  </form>
</div>
