<div aria-label="Solicitar examen">
  <div>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <h1 mat-dialog-title>Resultados de examen</h1>
  </div>
  <div mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="15px">
      <mat-form-field fxFlex="50" fxFlexFill>
        <mat-label>Descripción</mat-label>
        <textarea type="text" [(ngModel)]="text" name="description" matInput maxlength="250" #description="ngModel"></textarea>
        <mat-hint align="end">{{description.value?.length || 0}}/250</mat-hint>
      </mat-form-field>
      <div>
        <button type="button" color="primary"
                mat-raised-button
                accept="image/*"
                multiple="1"
                [maxSize]="maxSize"
                [(files)]="files"
                class="well my-drop-zone"
                [(lastInvalids)]="lastInvalids"
                ngfSelect
                (filesChange)="lastFileAt=getDate()"
                aria-label="Adjuntar imágenes">
          Adjuntar imágenes
        </button>
      </div>
    </div>
    <div>
      <mat-grid-list cols="2" rowHeight="2:1">
        <ng-container *ngFor="let item of files;let i=index">
          <mat-grid-tile class="gray">
            <img [ngfSrc]="item" />
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button type="button" mat-button (click)="cancel()">Cancelar</button>
    <button type="button" mat-button color="primary" (click)="answer()" cdkFocusInitial>
      Aceptar
    </button>
  </div>
</div>
