<div aria-label="Agregar medicina">
  <div>
    <button type="button" mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <h1 mat-dialog-title>Agregar medicina</h1>
  </div>
  <div mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="15px">
      <mat-form-field>
        <mat-label>Indicaciones</mat-label>
        <textarea type="text" matInput name="indication" [(ngModel)]="indications" maxlength="250" #indication="ngModel"></textarea>
        <mat-hint align="end">{{indication.value?.length || 0}}/250</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button type="button" mat-button (click)="cancel()">Cancelar</button>
    <button type="button" mat-button color="primary" (click)="answer()" cdkFocusInitial>
      Aceptar
    </button>
  </div>
</div>
