<div>
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>

  <h1 mat-dialog-title>Datos para calcular Riesgo de Diabetes Melitus a 10 años</h1>
</div>
<div mat-dialog-content>
  <div fxLayout="column">
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <mat-form-field fxFlex>
        <mat-label>Sexo</mat-label>
        <input type="text" matInput
               [value]="patient.sex === 'M' ? 'Masculino' : 'Femenino'"
               disabled>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Actividad física</mat-label>
        <input type="text" matInput
               [value]="patient.physicalActivity"
               disabled>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <mat-form-field fxFlex>
        <mat-label>Toma antihipertensivos</mat-label>
        <input type="text" matInput [value]="patient.medicines.indexOf('ANTIHIPERTENSIVOS') !== -1 ? 'Sí' : 'No'"
               disabled>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Edad</mat-label>
        <input type="number" matInput min="0" [(ngModel)]="patient.age"
               (change)="updateComputedFields()">
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <mat-form-field fxFlex>
        <mat-label>Perímetro abdominal (cm)</mat-label>
        <input type="number" min="0" matInput
               [value]="data.note.triage.vitalFunctions.waistCircumference"
               (change)="updateComputedFields()">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Presión arterial sistólica (mmHg)</mat-label>
        <input type="number" matInput min="0" [(ngModel)]="data.note.triage.vitalFunctions.systolic"
               (change)="updateComputedFields()">
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
      <mat-form-field fxFlex="50">
        <mat-label>Presión arterial diastólica (mmHg)</mat-label>
        <input type="number" matInput min="0" [(ngModel)]="data.note.triage.vitalFunctions.diastolic" (change)="updateComputedFields()">
      </mat-form-field>
    </div>
    <mat-form-field fxFlex>
      <mat-label>IMC</mat-label>
      <input type="text" matInput [(ngModel)]="data.note.triage.vitalFunctions.bmi"
             disabled>
    </mat-form-field>
    <mat-form-field fxFlex ngClass="{'mat-icon-left mat-has-icon': data.note.triage.vitalFunctions.diabetesRisk > 7}">
      <label>Riesgo de Diabetes Melitus, 10 años (%)</label>
      <mat-icon color="warn" *ngIf="data.note.triage.vitalFunctions.diabetesRisk > 7"> error_outline</mat-icon>
      <input type="text" matInput readonly name="diabetesRisk"
             [(ngModel)]="data.note.triage.vitalFunctions.diabetesRisk">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" (click)="answer()" cdkFocusInitial>
    Aceptar
  </button>
</div>
