.only-print{
  display:none;
}

@media print {

  @page{
    size: A4;
  }

  .only-print{
    display:inherit;
  }

  mat-toolbar,
  mat-tabs-wrapper,
  .mat-actions {
    display: none !important;
  }

  mat-card{
    box-shadow: none;
    border: 0;
    margin: 0;
  }

  #content{
    padding: 0;
  }

}
